<mat-card
  *rxLet="
    funFact$;
    let funFact;
    let loading = suspense;
    suspenseTrigger: loadingTrigger$;
    let finished = complete
  "
>
  <mat-card-header>
    <mat-card-title>Fun Facts</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ loading ? "Loading..." : funFact }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      [disabled]="loading || finished"
      (click)="onNextClicked()"
    >
      Next
    </button>
  </mat-card-actions>
</mat-card>
